<div class="container col-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 mt-1">
            <label class="form-control-label" for="projectNameId">
                <b>Project:</b>
            </label>
        </div>
        <div class="col-9 col-sm-9 col-md-4 col-lg-4">
            <input class="form-control" id="projectNameId" 
                   name="projectNameField"
                   [(ngModel)]="projectName"
                   placeholder="Select Project to View Tasks" readonly>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2">
            <button type="button" class="btn btn-success btn-block"
                    (click)="openModal(template)">
                Search
            </button>
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 align-self-center">
            <b>Sort:</b>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2">
            <button type="button" class="btn btn-secondary btn-block btn-sm"
                    (click)="sortByStartDate()">
                Start Date
            </button>
            <button type="button" class="btn btn-secondary btn-block btn-sm">
                End Date
            </button>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2">
            <button type="button" class="btn btn-secondary btn-block btn-sm">
                Priority
            </button>
            <button type="button" class="btn btn-secondary btn-block btn-sm">
                Completed
            </button>
        </div>
    </div>
    <hr>
    <br>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of taskList;index as i">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <b>Task</b><br>
                    {{ task.task_Name }}
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <b>Parent Task</b><br>
                    {{ task.parentTaskName }}
                </div>
                <div class="col-4 col-sm-4 col-md-1 col-lg-1">
                    <b>Priority</b><br>
                    {{ task.priority }}
                </div>
                <div class="col-4 col-sm-4 col-md-1 col-lg-1">
                    <b>Start Date</b><br>
                    {{ task.start_Date | date:"shortDate"}}
                </div>
                <div class="col-4 col-sm-4 col-md-1 col-lg-1">
                    <b>End Date</b><br>
                    {{ task.end_Date | date:"shortDate"}}
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <b>Status</b><br>
                    {{ task.status == 1 ? 'Completed' : 'In-Progress' }}
                </div>
                <div class=" col-12 col-sm-12 col-md-1 col-lg-1 align-self-center">
                    <button class="btn btn-success" type="button"
                            [routerLink]="['/dashboard','view-task','update-task']"
                            [queryParams] = "{ projectId: projectId , taskId: task.taskId}">
                        Edit
                    </button>
                </div>
                <div class=" col-12 col-sm-12 col-md-2 col-lg-2 align-self-center">
                    <button class="btn btn-danger" type="button" 
                            *ngIf="task.status != 'Completed'"
                            (click)="endTask(i)">
                        End Task
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <notifier-container></notifier-container>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Manager</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <input type="text" class="form-control" id="searchUserFieldId" 
                       placeholder="Search Project"
                       [formControl]="queryField">
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <button class="btn btn-success" type="button"
                        (click)="searchProject()">
                    Search
                </button>
            </div>
        </div>
        <br>


        <ul class="list-group listoverflow">
            <li class="list-group-item list-group-item-action" *ngFor="let project of searchList;index as i">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <b>Project Title: </b> {{ project.projectName }}
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <b>Manager: </b> {{ project.managedBy }}
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-primary"
                                (click)="selectProject(i);modalRef.hide()">
                            Select
                        </button>
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" 
              aria-label="Close" (click)="modalRef.hide()">
          Close
      </button>
    </div>
  </ng-template>