<div class="container">
    <app-create-user 
        [editEmployeeId]="editEmployeeId"
        [editFirstName]="editUserFirstName"
        [editLastName]="editUserLastName"
        [onUpdateActive]="onUpdateActive"
        (notify) = "onNotify($event)" >
    </app-create-user>
    <hr>
    <br>
    <div class="row">
        <div class="col-10 col-sm-10 col-md-10 col-lg-4">
            <input type="text" placeholder="Search User"
                   class="form-control" [(ngModel)]="searchText">
        </div>
        <button type="button" 
                class="btn btn-success btn-block col-2 col-sm-2 col-md-2 col-lg-1" 
                style="height: 60%"
                (click)="searchUser()">
            Search
        </button>
        <br>
        <br class="rwd-break" />
        <div class="col-2 col-sm-2 col-md-2 col-lg-1 ml-2">
            Sort:
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-5">
            <button class="btn btn-secondary">First Name</button>
            <button class="btn btn-secondary ml-2">Last Name</button>
            <button class="btn btn-secondary ml-2">Employee ID</button>
        </div>
    </div>
    <br>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of searchList;index as i">
            <div class="row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-10">
                    <div class="form-group row">
                        <label for="userFirstNameId"
                               class="col-12 col-sm-12 col-md-2 col-lg-2">
                            First Name:
                        </label>
                        <input type="text" 
                               class="form-control col-12 col-sm-12 col-md-9 col-lg-9"
                               [value]="user.firstName" readonly
                               id="userFirstNameId">
                    </div>
                    <div class="form-group row">
                        <label for="userLastNameId"
                               class="col-12 col-sm-12 col-md-2 col-lg-2">
                            Last Name:
                        </label>
                        <input type="text" 
                               class="form-control col-12 col-sm-12 col-md-9 col-lg-9"
                               [value]="user.lastName"
                               id="userLastNameId" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="userEmployeeId"
                               class="col-12 col-sm-12 col-md-2 col-lg-2">
                            Employee Id:
                        </label>
                        <input type="text"
                               class="form-control col-12 col-sm-12 col-md-9 col-lg-9"
                               [value]="user.employeeId"
                               id="userEmployeeId" readonly>
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
                    <button class="btn btn-success btn-block" 
                            type="button"
                            (click)="editUser(i)">
                        Edit
                    </button>
                    <button class="btn btn-danger btn-block" 
                            type="button"
                            (click)="deleteUser(i)">
                        Delete
                    </button>
                </div>
            </div>
        </li>
    </ul>
    
</div>